body {
  font-family:  Times, sans-serif;
  margin : 0px;
  padding : 20px;
  background-color: #f8f8f8;
}

h1 {
  color: #333;
  text-align: center;
}

form{
  margin-bottom: 20px;
  background-color: #acf0b5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  width: 45%;
}

label{
  font-weight: bold;
  color: #000000;
}

input[type="text"],
textarea{
  width : calc(100% - 16px);
  padding:8px;
  margin : 10px 0;
  border : 1px solid #b0bec5;
  border-radius: 4px;
  box-sizing: border-box;
  max-width: 400px;
}

form > p > input[type='date']{
  width : calc(100% - 50%);
  padding:8px;
  margin : 10px 0;
  border : 1px solid #b0bec5;
  border-radius: 4px;
  box-sizing: border-box;
  max-width: 400px;
}

input[type="submit"] {
  background-color: #838887;
  color:white;
  padding: 10px 20px;
  border : none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  
  
}

input[type='submit']:hover {
  background-color: #604ec7;
}

ul {
  list-style-type: none;
  padding: 0;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

li{
  background: #fff;
  margin: 10px 0;
  padding: 15px;
  border-radius: 10px;
  /* 수평 및 수직 이동없이 요소 주위에 부드럽고 퍼진 매우 옅은 검은색 그림자 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color : #ff0000;
  text-decoration: none;
  transition: color 0.3s;
  font-family: Impact;
}

a:hover {
  color: #1619e9;
  text-decoration: underline;
}

p {
  max-width: 600px;
  margin-left: auto; 
  margin-right: auto;
  color: #00796b;
}

.centered {
  text-align: center;
}

.custom-link {
  color: #350965;
  text-decoration: none;
  transition: color 0.3s;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.list {
  width: 50%;
}

